body {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  height: 300px;
  width: 400px;
  background-color: #ff9a76;
  border-radius: 10px;
  box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.80);
}

.temp-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.temp-display {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  text-align: center;
  background-color: #ffeadb;
  color:#ff9a76;
  font-size: 3em;
  border: 3px solid #679b9b;
  transition: background 0.5s;
}

button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 30px;
  color: #679b9b;
  background-color: #ffeadb;
  border: 3px solid #679b9b;
  justify-content: space-between;
  flex: ;
  margin: 0 75px;
}

button:hover {
  color: #ffeadb;
  background-color: #679b9b;
  border: 3px solid #ffeadb;
  cursor: pointer;
}

.cold {
  background-color:lightblue;
}

.hot {
  background-color: #FF8C00;
  color: #679b9b;
}